rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read access to all documents
    match /{document=**} {
      allow read: if true;
    }
    
    // Restrict write access to only logged-in users
    match /programs/{document=**} {
      allow write: if request.auth != null;
    }
  }
}